.horizontalbar {
  backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(2, 4, 32, 0.75);
  height: 75px;
  padding-left: 30px;
  padding-top: 15px;
  size: 150px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow for a floating effect */
}

.logoText {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #00DC82;
  font-size: 28px; /* Make the logo text more prominent */
  font-weight: bold;
}

.container {
  display: flex;
  min-height: calc(100vh - 75px);
  position: relative;
  overflow: hidden;
  backdrop-filter: blur(10px);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.leftSection {
  flex: 1;
  background: linear-gradient(
    to bottom,
    hsl(155, 59%, 43%) 0%,
    #0D4D3E 5%, 
    #072239 35%, 
    #072239 65%
  );
  color: #eeeeee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.rightSection {
  flex: 1;
  background: linear-gradient(
    to bottom,
    hsl(155, 59%, 43%) 0%,
    #0D4D3E 5%, 
    #072239 35%, 
    #072239 65%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  text-align: center;
}

.loginButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 50%;
  max-width: 400px;
  background: linear-gradient(
    to bottom,
    #072239 35%, 
    #072239 65%
  );
  color: #fff;
  padding: 15px;
  border-radius: 6px;
  border: 1px solid #42f89a;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.loginButton:hover {
  background: linear-gradient(to right, #42f89a, #00DC82); /* Smooth gradient transition on hover */
  color: #fff;
  border-color: #00DC82; /* Border color change */
  transform: translateY(-4px); /* Slight lifting effect */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Enhanced shadow for floating effect */
}

.loginButton svg {
  transition: transform 0.3s ease-in-out;
}

.loginButton:hover svg {
  transform: translateX(5px); /* Slightly move the icon on hover */
}

.rightText {
  font-weight: 600;
  margin-bottom: 8px;
  color: #ffffff;
  align-self: flex-start;
  text-align: center;
  width: 100%;
  max-width: 400px;
  padding-left: 85px;
}

.signupButton {
  background: none;
  border: none;
  padding: 0;
  color: #42f89a;
  text-decoration: underline;
  cursor: pointer;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-left: 5px;
  font-size: 16px;
  transition: color 0.3s ease;
}

.signupButton:hover {
  color: #00DC82; /* Change text color on hover */
}

/* styles.module.css */
.sectionImage {
  width: 100%;
  max-width: 400px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  object-fit: cover; /* This ensures the image doesn't get stretched */
}