.horizontalbar {
  backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(2, 4, 32, 0.75);
  height: 75px;
  padding-left: 30px;
  padding-top: 15px;
  size: 150px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow for a floating effect */
}

.mainContainer {
    background: linear-gradient(
      to bottom,
      hsl(155, 59%, 43%) 0%,
      #0D4D3E 5%, 
      #072239 35%, 
      #072239 65%
    );
    color: #eeeeee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding-top: 20px;
}

.logoText {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #00DC82;
  font-size: 28px; /* Make the logo text more prominent */
  font-weight: bold;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%); 
}

.navItem {
  background-color: transparent;
  border: none;
  color: #ffffff;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s ease;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navItem svg {
  margin-bottom: 8px;
}

.navItem.active {
  color: #ffffff;
}

.profileSection {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.profilePic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 50px;
  margin-top: 10px;
  right: inherit;
}

.dropdownMenu {
  position: absolute;
  top: 55px;
  right: 0%;
  backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(2, 4, 32, 0.75);
  border: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.dropdownItem {
  padding: 10px 15px;
  backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(2, 4, 32, 0.75);
  border: none;
  text-align: left;
  cursor: pointer;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #ffffff;
  font-size: 14px;
  width: 200px;
  height: 50px;
}

.dropdownItem:hover {
  background-color: rgba(2, 4, 32, 0.75);
  border-color: #00DC82;
  transform: translateY(-4px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.leftContainer{
  width: 25%;
  height: calc(100vh - 75px);
  padding: 10px;
  overflow-y: auto;
  scrollbar-width: none;
  border-radius: 8px;
  position: absolute;
  top: 75px;
  left: 0;
}

.centerContainer {
  width: calc(75% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.startPostSection {
  border-width: thin;
  padding: 15px;
  border-radius: 8px;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 650px;
}

.postModal {
  background-color: #ffffff;
}

.startPostButton {
  width: 100%;
  padding: 15px;
  padding-left: 30px;
  text-align: left;
  border-radius: 25px;
  background-color: transparent;
  cursor: pointer;
  border: 0.5px solid #ffffff;
  height: 50px;
  color: white;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 18px;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.postModal {
  background: transparent;
  width: 500px;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border: 0.5px solid #ffffff;
  margin-bottom: -150px;
  height: 560px;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.modalHeader h3 {
  margin: 0;
  font-size: 20px;
  color: #ffffff;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.closeButton {
  background: transparent ;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.postInput {
  width: 100%;
  min-height: 55px;
  outline: none;
  font-size: 15px;
  padding: 10px;
  background-color: transparent;
  color: #ffffff;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  overflow-y: auto;
  scrollbar-width: none;
}

.modalFooter {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
}

.postButton {
  background-color: #01c070;
  color: white;
  padding: 8px 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.labelStyle {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;
}

.formStyle {
  background-color: transparent;
  border-color: #ffffff;
  width: 450px;
  height: 30px;
}
.formStyle::placeholder {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 5px;
}

.unselected {
  background-color: transparent;
  border: none;
  padding: 10px 15px;
  font-size: 12px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.selected {
  background-color: #00DC82; /* Green background for selected */
  border: none;
  padding: 10px 15px;
  font-size: 12px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #000000; /* Black text for selected */
  cursor: pointer;
}
